{% extends "base.html" %}
    
{% block content %}
<div class="form-container">
  <h1>Add New Item</h1>
  <br>
  <form method="POST" enctype="multipart/form-data" action="#">
    <div class="form-group row">
      <div class="col-sm-6">
        <input type=text class="form-control" id="item_name" name="item_name" placeholder="Item Name">
      </div>
      <div class="col-sm-6">
        <input type=text class="form-control" id="item_price" name="item_price" placeholder="$5.99">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <select class="custom-select" id="item_category" name="item_category">
          <option selected>Choose Item Main Category...</option>
          {% if main_categories %}
          {% for item in main_categories %}
            {% if main_id == item.id %}
              <option value="{{item.name}}" selected>{{item.name}}</option>
            {% else %}
              <option value="{{item.name}}">{{item.name}}</option>
            {% endif %}
          {% endfor %}
          {% endif %}
          <option value="Other">Other</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <input type=text class="form-control" id="item_category_other" name="item_category_other" placeholder="If other, type it here">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <select class="custom-select" id="item_sub_category" name="item_sub_category">
          <option selected>Choose Item Sub-Category...</option>
          
          {% if main_categories %}
          {% for main_cat in main_categories %}
            <optgroup label="{{main_cat.name}}">
            {% if sub_categories %}
            {% for sub_cat in sub_categories %}
              {% if sub_cat.cat_id == main_cat.id and sub_id == sub_cat.id %}  
                <option value="{{sub_cat.name}}" selected>{{sub_cat.name}}</option>
              {% elif sub_cat.cat_id == main_cat.id %}
                <option value="{{sub_cat.name}}">{{sub_cat.name}}</option>
              {% endif %}
            {% endfor %}
            {% endif %}
            </optgroup>
          {% endfor %}
          {% endif %}
          
          <option value="Other">Other</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <input type=text class="form-control" id="item_sub_category_other" name="item_sub_category_other" placeholder="If other, type it here">
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <textarea class="form-control" id="item_description" name="item_description" rows="3" placeholder="Describe the item here"></textarea>
      </div> 
    </div>
    <br><br>
    <div class="text-center">
      <input type=submit class="btn btn-primary" value="Confirm">&nbsp;
      <input type=button class="btn btn-danger" onclick="window.location.href = '{{ url_for('Show_Category', main_cat_id=main_id) }}';" value="Cancel">
    </div>
  </form>
</div>
{% endblock %}