<!doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="author" content="Justin Tadlock">
        <meta name="description" content="An application that provides a list of items within a variety of categories as well as providing the user with registration and authentication system through Google Sign-in. Registered users will have the ability to post, edit and delete their own items.">
        <meta name="google-signin-client_id" content="{{ client_id }}">
        <meta name="state" content="{{ state }}"

        <title>
        {% if title %}
            {{ title }}
        {% else %}
            Page Title Placeholder
        {% endif %}
        </title>

        <!-- Add Google font API for Material Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- Load Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        
        <!-- Load jQuery -->
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">

        <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    </head>
    <body>
        <!-- Navigation Block -->
        <nav>
        {% block navigation %}
        <div class="nav-left">
            <a href="/">Item Catalog</a>
        </div>
        <div class="nav-center">
            {{ title }}
        </div>
        <div class="nav-right">
            <a href="#">
            Google Sign-In
            </a>
        </div>
        {% endblock %}
        </nav>
    
        <!-- Content Block -->
        <div class="content">
            <div class="left-panel">
                {% include "side-cat-nav.html" %}
            </div>
            <div class="right-panel">
                {% block right_panel %}{% endblock %}
            </div>
        </div>

        <!-- Footer -->
        {% block footer %}
        <footer>
            &copy; - Justin Tadlock
        </footer>
        {% endblock%}
    </body>
</html>
