{% extends "base.html" %}

{% block content %}
<div class="category-content">
  <div class="categories">
    <h4 class="section-divider">Categories</h4>
    <ul>
        {% if main_categories %}
        {% for category in main_categories %}
          <li>
            <div class="category-link">
              <a href="{{ url_for('Show_Category', main_cat_id=category.id) }}">{{category.name}}</a>
              <div class="cat-link-mods">
                <a href="{{ url_for('Edit_Category', main_cat_id=category.id) }}"><i class="material-icons">edit</i></a>
                <a href="{{ url_for('Delete_Category', main_cat_id=category.id) }}"><i class="material-icons">delete</i></a>
              </div>
            </li>  
          </li>
        {% endfor %}
        {% endif %}
        <li>
          <div class="category-item-add">
            <a href="{{ url_for('Add_Category') }}">
              <i class="material-icons">add</i>
            </a>
          </div>
        </li>
    </ul>
  </div>
  {% block sub_categories %}{% endblock %}
</div>
{% endblock %}