{% extends "base.html" %}

{% block right_panel %}
<div class="right-panel">
  {% if items %}
  <div class="sub-category">
    <div class="category-list">
      {% for item in items %}
      <div class="category-item">
        <a href="{{ item.link }}" target=_blank>
          <div class="item-img">
            <img src="{{ item.picture }}" />
          </div>
          
          <div class="item-header">
            <span class="item-name">{{ item.name }}</span>
            <span class="item-price">{{ item.price }}</span>
          </div>
          
          <div class="item-description">
            {{ item.description }}
          </div>
        </a>
        <div class="item-header">
          {% if authenticated %}
          <a href="{{ url_for('Edit_Item', item_id=item.id) }}"><i class="material-icons">edit</i></a>
          <a href="{{ url_for('Delete_Item', item_id=item.id) }}"><i class="material-icons">delete</i></a>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  {% if authenticated %}
  <div class="sub-category">
    <div class="category-item-add">
      <a href="{{ url_for('Add_Item') }}">
        <i class="material-icons">add</i>
      </a>
    </div>
  </div>
  {% endif %}
</div>
{% endblock%}