<h4 class="section-divider">Categories</h4>
<ul>
    {% if categories %}
    {% for category in categories %}
    <li>
        <div class="category-link">
        <a href="{{ url_for('Show_Category', main_cat_id=category.id) }}">{{category.name}}</a>
        <div class="cat-link-mods">
            {% if authenticated %}
            <a href="{{ url_for('Edit_Category', main_cat_id=category.id) }}"><i class="material-icons">edit</i></a>
            <a href="{{ url_for('Delete_Category', main_cat_id=category.id) }}"><i class="material-icons">delete</i></a>
            {% endif %}
        </div>
        </li>  
    </li>
    {% endfor %}
    {% endif %}
    {% if authenticated %}
    <li>
    <div class="category-item-add">
        <a href="{{ url_for('Add_Category') }}">
        <i class="material-icons">add</i>
        </a>
    </div>
    </li>
    {% endif %}
</ul>